//************************************************************************************
// MODULES
//************************************************************************************

.box-closable {
  height: auto;
  background-color: #d6f0f7;
  background-color: rgba(244,252,255,0.8);
  padding: 2em 80px;
  border: dashed 1px #697684;
  margin: 0 auto 4em;
  position: relative;
  @include box-shadow( 0 0 12px 0 rgba( 0, 0, 0, 0.20 ) );
}
