//************************************************************************************
// THIRD-PARTY PLUGINS
//************************************************************************************


// Uploadosorus
// -----------------------------------------------------------------------------------
.pickfiles {
    display: block;
}

.brick, .corner-stamp {
    float: left;
}

// In the Stylist Profile page, portfolio images on the right side
.sidebar .tessera {
    width: 169px;
    min-height: 40px;
    overflow: hidden;
    margin-bottom: 12px;
    float: left;
}

// Verticall alignt the text inside the corner-stamp bricks
.profile .pickfiles {
    padding-top: 140px;
}

.mosaic .corner-stamp {
    width: 170px;
    height: 236px;
    overflow: hidden;
    margin-bottom: 12px;

    .pickfiles {
        padding-top: 60px;
    }
}

.delete-image {
    width: 24px;
    height: 24px;
    display: none;
    background: url(/images/buttons/btn-delete.png);
    cursor: pointer;
    z-index: 9;

    .brick & {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .brick:hover & {
        display: block;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;

    .loading {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}


// Colorbox
// -----------------------------------------------------------------------------------
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}

#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;margin-bottom: 0;}
#cboxTitle{margin:0;display:none !important;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

#cboxOverlay { background: #000; }
#colorbox{overflow:visible !important;}
    #cboxTopLeft,
    #cboxTopCenter,
    #cboxTopRight,
    #cboxBottomLeft,
    #cboxBottomCenter,
    #cboxBottomRight,
    #cboxMiddleLeft,
    #cboxMiddleRight {
        width: 0;
        height: 0;
        background: none;
    }
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxTitle{position:absolute; top:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(/images/loading.gif) no-repeat center center;}
        #cboxClose {
            width: 33px;
            height: 33px;
            background-image: url(/images/buttons/btn-close.png);
            display: block !important;
            position: absolute;
            top: -12px;
            right: -12px;
            @include hide-text;
        }
#cboxWrapper,
#cboxContent {
    overflow: visible;
}


// Jcrop
// -----------------------------------------------------------------------------------
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline {
    font-size: 0px;
    position: absolute;
    background: white url('/images/plugins/Jcrop/Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-vline.right { right: 0px; }
.jcrop-hline.bottom { bottom: 0px; }
.jcrop-handle {
    font-size: 1px;
    width: 7px !important;
    height: 7px !important;
    border: 1px #eee solid;
    background-color: #333;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline {
    background: yellow;
}

.custom .jcrop-handle {
    border-color: black;
    background-color: #C7BB00;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}



// HTML5 Number polyfill
// -----------------------------------------------------------------------------------
// Jonathan Stipe | https://github.com/jonstipe/number-polyfill
@mixin box-sizing($data) {
  -moz-box-sizing: $data;
  -webkit-box-sizing: $data;
  box-sizing: $data;
}

@mixin border-radius($data) {
  -moz-border-radius: $data;
  -webkit-border-radius: $data;
  border-radius: $data;
}

$btn-border-highlight: #ededed;
$btn-border-shadow: #777777;
$btn-bg: #CCCCCC;
$btn-border-highlight-active: #5e5e5e;
$btn-border-shadow-active: #d8d8d8;
$btn-bg-active: #999999;

div.number-spin-btn-container {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

div.number-spin-btn {
  @include box-sizing(border-box);
  border: {
    width: 2px;
    color: $btn-border-highlight $btn-border-shadow $btn-border-shadow $btn-border-highlight;
    style: solid;
  }
  background-color: $btn-bg;
  width: 1.2em;
  &:hover {
    cursor: pointer;
  }
  &:active {
    border: {
      width: 2px;
      color: $btn-border-highlight-active $btn-border-shadow-active $btn-border-shadow-active $btn-border-highlight-active;
      style: solid;
    }
    background-color: $btn-bg-active;
  }
}

div.number-spin-btn-up {
  border-bottom-width: 1px;
  @include border-radius(3px 3px 0px 0px);
  &:before {
    border: {
      width: 0 0.3em 0.3em 0.3em;
      color: transparent transparent black transparent;
    }
    top: 25%;
  }
  &:active {
    border-bottom-width: 1px;
  }
  &:active:before {
    border-bottom-color: white;
    top: 26%;
    left: 51%;
  }
}

div.number-spin-btn-down {
  border-top-width: 1px;
  @include border-radius(0px 0px 3px 3px);
  &:before {
    border: {
      width: 0.3em 0.3em 0 0.3em;
      color: black transparent transparent transparent;
    }
    top: 75%;
  }
  &:active {
    border-top-width: 1px;
  }
  &:active:before {
    border-top-color: white;
    top: 76%;
    left: 51%;
  }
}

div.number-spin-btn-up:before,
div.number-spin-btn-down:before {
  content: "";
  width: 0;
  height: 0;
  border: {
    style: solid;
  }
  position: absolute;
  left: 50%;
  margin: -0.15em 0 0 -0.3em;
  padding: 0;
}

input:disabled + div.number-spin-btn-container {
  & > div.number-spin-btn-up:active,
  & > div.number-spin-btn-down:active {
    border: {
      color: $btn-border-highlight $btn-border-shadow $btn-border-shadow $btn-border-highlight;
      style: solid;
    }
    background-color: $btn-bg;
  }
  & > div.number-spin-btn-up:before,
  & > div.number-spin-btn-up:active:before {
    border-bottom-color: $btn-bg-active;
    top: 25%;
    left: 50%;
  }
  & > div.number-spin-btn-down:before,
  & > div.number-spin-btn-down:active:before {
    border-top-color: $btn-bg-active;
    top: 75%;
    left: 50%;
  }
}



// Advanced Tables
// -----------------------------------------------------------------------------------
.tablePerPage{
  float: right;
}
.tablePerPage span{
  float: left;
  margin-top: 5px;
}
.tablePerPage ul{
  float: right;
}
.tablePerPage li {
  border:0;
  margin:0;
  padding:0;
  font-size:11px;
  list-style:none;
  float: left;
}
.tablePerPage a {
  border-right:solid 1px #BBB;
  margin-right:2px;
}
.tablePerPage .previous-off, .tablePerPage .next-off {
  color:#888888;
  display:block;
  float:left;
  font-weight:bold;
  padding:3px 4px;
}
.tablePerPage .next a, .tablePerPage previous a {
  border:none;
  font-weight:bold;
}
.tablePerPage .active {
  font-weight:bold;
  color: #FFF;
}
.tablePerPage a:link, .tablePerPage a:visited {
  color:#333;
  display:block;
  float:left;
  padding:3px 6px;
  text-decoration:underline;
}
.tablePerPage a:hover {
  text-decoration:none;
}