// -----------------------------------------------------------------------------------
// LOOKBOOK > COVER
// -----------------------------------------------------------------------------------
// Overview of the latest lookbook in the user dashboard
.lookbook-cover {
    width: 100%;
    overflow: hidden;
    position: relative;

    &.model-1 {
        height: 498px;
        background-image: url(/images/pages/lookbook/cover/model-1/lookbook-model1-bg.jpg);
        margin-bottom: 18px;

        article {
            padding: 33px 20px 0 27px;
            margin: 0;
        }

        // Timestamp of the Lookbook
        .lookbook-date {
            display: block;
            @include font-size( 12 );
            margin-bottom: 53px;
        }

        // Title of the Lookbook
        .lookbook-title {
            width: 450px;
            color: #fff;
            @include font-size( 72 );
            @include line-height( 72 );
        }

        // Small overview on the right side describing the Lookbook
        .entry {
            width: 422px;
            overflow: hidden;
            background-color: #fff;
            padding: 36px 33px;
            position: absolute;
            top: 33px;
            right: 20px;
        }

        // Small profile picture of the stylist
        .stylist-image-small {
            text-align: right;
            margin-top: -24px;
            margin-right: -24px;
        }

        .btn-viewlookbook {
            display: block;
            color: #000;
            @include font-size( 24 );
            text-transform: uppercase;
            margin-top: 90px;

            &:after {
                content: ">";
                padding-left: 20px;
            }
        }
    }

    // Future template model for the lookbook covers
    &.model-2 {}
    &.model-3 {}
    &.model-4 {}
}


// -----------------------------------------------------------------------------------
// LOOKBOOK > ARCHIVES LIST
// -----------------------------------------------------------------------------------
.archive-container {
    width: 836px;
    height: 130px;
    margin: 0 auto;
    position: relative;

    .archive-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .carousel-nav {
        width: 110%;
        left: -5%;
    }


    // Inidivdual entry in the list
    .archive-entry {
        width: 120px;
        height: 130px;
        float: left;
        position: relative;
    }

    .archive-link {
        width: 100%;
        height: 100%;
        display: block;
        color: $text-color;
        padding: 37px 18px 0;

        &:hover {
            @include lookbook-accent;
            background-color: #f8f8f8;
        }
    }

    // Newest item of the list
    .is-active {
        .archive-link {
            @include hatched-gray;
            padding-top: 19px;
            @include lookbook-accent;

            &:before {
                content: "New";
                display: block;
                color: $brand-4;
                font-style: italic;
                text-transform: uppercase;
                position: relative;
            }
        }
    }

    .arrow-prev { left: -60px;  }
    .arrow-next { right: -60px; }
}



// -----------------------------------------------------------------------------------
// LOOKBOOK > INDIVIDUAL LOOK
// -----------------------------------------------------------------------------------
// Header containing the Lookbook's name, the looks navigation and the help
.lookbook-titlebar {
    height: 22px;
    @include line-height( 20 );
    font-style: italic;
    margin-bottom: 45px;

    .lookbook-title {
        @include font-size( 10 );
        @include line-height( 22 );
        text-transform: uppercase;
        margin-right: 16px;
    }

    .icon-chat {
        background-position: 0 2px;
        padding-left: 28px;
    }
}


// Page's title corresponding to the current look
.look-title {
    margin-bottom: 44px;
}

// Add an indicator on Stylist's Pick items
.stylist-pick:after {
    @include ribbon( "Top Pick For You", $brand-3 );
}

// Section containing all the products from the current look
.look-product-list {
    text-align: center;
    margin-bottom: 50px;
    position: relative;

    // Use the z-index to make sure the products are over the nav
    .product {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 24px;
        position: relative;
        z-index: 2;
    }

    .product-link {
        width: 200px;
        height: 300px;
        display: block;

        // Add the quote icon over the Lookbook items that contain
        // a description, which will slidein on mouseover
        &.has-detail {
            overflow: hidden;
            position: relative;
            z-index: 2;

            &:after {
                width: 27px;
                height: 27px;
                background-image: url(/images/icons/icon-quote.png);
                content: "\0020";
                border-bottom: solid 1px #ccc;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            // Alternative background when the figcaption is visible
            &:hover:after {
                background-position: -27px 0;
                border: 0;
            }
        }


        // Figcaption with the additional information
        // concerning the current item. Will slidein when
        // cliking the quote icon
        .more-info {
            width: 100%;
            height: 100%;
            text-align: left;
            padding: 85px 20px 0;
            position: absolute;
            top: 300px;
            left: 0;
            z-index: 2;

            @include transition-property( top );
            @include transition-duration( 0.2s );
            @include transition-timing-function( ease-in );
        }

        &:hover .more-info {
            top: 0;
            @include transition-property( top );
            @include transition-duration( 0.2s );
            @include transition-timing-function( ease-out );
        }
    }

    // Use the generic lookbook navigation but position it differently
    .lookbook-nav {
        width: 110%;
        position: absolute;
        top: 120px;
        left: -5%;
        z-index: 0;
    }
}


// The comment box under the different products of a look
.look-comments {
    padding-left: 0;

    .stylist-image-tiny {
        margin-right: 14px;
    }

    .commtents {
        width: 410px;
    }
}


// On the right side of the comment box is the pricebox
// containing the number of item in the set, the total price and
// the buy all button.
.look-pricebox {
    @include font-size( 16 );
    text-align: right;
    margin-bottom: 50px;

    // Make sure the button are all the same width
    .button {
        margin: 16px 0 2px;
    }
}



// -----------------------------------------------------------------------------------
// LOOKBOOK > PRODUCT OVERVIEW
// -----------------------------------------------------------------------------------
.look-product-overview {
    display: none;
    margin-bottom: 75px;

    // Spcing between each item's row
    td {
        padding-top: 50px;
        min-height: 160px;
    }

    // Remove the spacing in the cells of the first row
    tr:first-child td {
        padding-top: 0;
    }

    // The second column with the item's name and price
    // Add a little spacing on the right side
    .col-name {
        width: 240px;
        padding-left: 20px;
        padding-right: 20px;
    }

    // Spacing under the item's name and model
    .item-model,
    .item-name,
    .item-size,
    .item-color {
        margin-bottom: 4px;
    }

    // Spacing is a little bit bigger under the price tag
    .item-price {
        margin-top: 14px;
        margin-bottom: 38px;
    }

    // Offset the "Change size" link a little to the left
    .change-size  {
        margin-left: 11px;
    }

    // make the Add to Cart button a little bit smaller than
    // the rest of the site
    .button {
        width: 122px;
        height: 27px;
        @include font-size( 9 );
        @include line-height( 25 );
    }

    // The comments box in the Lookbook Creation
    .item-comments {
        width: 362px;
        height: 130px;
        display: block;
        margin-bottom: 10px;
    }

    .must-have {
        font-weight: bold;
        @extend %ft-sans;
        @include font-size( 14 );
    }

    input[type="checkbox"] {
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: solid 2px #575757;
        margin-right: 10px;
    }

    .whats-this {
        @include inline-block;
        margin-left: 10px;
    }
}

#lookbook-message {
    .aqua-stripes {
        width: 480px;
        background-color: #fff;
        padding: 36px 52px;
        border: solid 13px #fff;
    }

    .delta {
        margin-bottom: 40px;
    }

    .field-container {
        margin-bottom: 10px;
    }

    label {
        height: auto;
        @include inline-block;
        margin-left: 10px;
        vertical-align: top;
    }

    .chzn-container {
        margin-left: 8px;
        position: relative;

        &:after {
            width: 13px;
            height: 8px;
            content: "\0020";
            background-image: url(/images/icons/icon-toggle.png);
            position: absolute;
            top: 14px;
            right: 14px;
        }
    }

    .chzn-select {
        width: 321px;
    }

    .txtbox-xlarge {
        width: 100%;
        height: 220px;
    }

    .btn-publish {
        background-image: url(/images/icons/icon-publish.png);
        background-position: 20px center;
        padding-left: 46px;
    }

    .lnk-cancel {
        color: $text-faint;
        margin-right: 20px;
    }

    .warning {
        @include font-size( 12 );
        @include line-height( 14 );
        margin-bottom: 32px;
    }
}



// -----------------------------------------------------------------------------------
// LOOKBOOK > CONTACT FORM
// -----------------------------------------------------------------------------------
#contact-form {
    .aqua-stripes {
        width: 470px;
        min-height: 423px;
        padding: 25px 50px;
        border: solid 11px #fff;
    }

    .epsilon {
        padding-top: 22px;
        margin-bottom: 30px;
    }

    // The message textarea
    .txtbox-xlarge {
        width: 100%;
        height: 222px;
    }

    // The Cancel link next to the cta button
    .lnk-cancel {
        margin-right: 20px;
    }
}



// -----------------------------------------------------------------------------------
// LOOKBOOK > NAVIGATION
// -----------------------------------------------------------------------------------
.lookbook-nav {
    font-style: italic;

    .lookbook-nav-item {
        color: $text-faint;
        margin: 0 4px;

        &.is-active,
        &:hover {
            color: $brand-4;
        }
    }

    .icon-arrowPrev { margin-right: 60px; }
    .icon-arrowNext { margin-left: 60px; }
}



// -----------------------------------------------------------------------------------
// LOOKBOOK > SUMMARY
// -----------------------------------------------------------------------------------
.lookbook-summary {
    position: relative;

    .lookbook-nav {
        width: 110%;
        position: absolute;
        top: 190px;
        left: -5%;
        z-index: 0;
    }

    // Complete set in the lookbook summary
    .look-summary-single {
        margin-bottom: 40px;

        .title-separator {
            margin-bottom: 20px;

            a { color: #000; }
        }
    }

    // An individual item from the summary looks
    .look-summary-products {
        width: 952px;
        height: 220px;
        overflow: hidden;

        .product-summary {
            width: 110px;
            height: 100%;
            overflow: hidden;
            font-style: italic;
            text-align: center;
            margin-left: 10px;
            position: relative;

            &:first-child {
                margin: 0;
            }
        }

        .stylist-pick:after {
            @include font-size( 9 );
            top: 145px;
        }

        // the current product was added to the cart
        .is-inBag:before {
            width: 70px;
            height: 66px;
            content: "\0020";
            background-image: url(/images/products/ribbon-inBag.png);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .product-info {
            color: $text-color;
            @include font-size( 9 );
            @include line-height( 14 );
            text-transform: uppercase;
            margin-top: 10px;
        }
    }
}



// -----------------------------------------------------------------------------------
// LOOKBOOK > FEEDBACK
// -----------------------------------------------------------------------------------
#feedback-form {
    margin-top: 60px;
    margin-bottom: 60px;

    .aqua-stripes {
        width: 712px;
        min-height: 385px;
        padding: 12px 10px 20px 33px;
        border: solid 11px #fff;
        @include single-box-shadow( rgba( 108, 108, 108, 0.13 ), 0, 0, 8px, 1px );
        position: relative;
    }

    .alpha {
        text-align: left;
    }

    .left-part {
        width: 294px;
        margin-top: 15px;
        margin-right: 26px;
    }

    .txtbox-xlarge {
        width: 326px;
        height: 233px;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    // The Cancel link next to the cta button
    .lnk-cancel {
        margin-right: 20px;
    }

    .btn-delete {
        position: absolute;
        top: -20px;
        right: -28px;
        z-index: 3;
    }

    .feedback-confirmation {
        margin-top: 120px;
    }
}


// -----------------------------------------------------------------------------------
// LOOKBOOK > CREATION
// -----------------------------------------------------------------------------------
#frmCreateLookbook {
    .icon-publish {
        background-position: 26px 7px;
        padding-left: 52px;
    }
}

// Top Section
.lookbook-creation-top {
    width: 100%;
    @extend %ft-sans;

    // The header portion of the Look Book creation
    // with the title and recipients
    .lookbook-creation-header {
        text-align: center;
    }

    .icon-add-look {
        background-position: 27px 11px;
        padding-left: 48px;
    }

    .leaders {
        display: block;
        margin-bottom: 14px;
    }

    .lbk-creation-title {
        width: 470px;
        @extend %ft-sans;
        @include font-size( 18 );
        font-weight: bold;
        color: $text-weak;
        text-align: center;
        margin-bottom: 26px;
    }


    // The right side part of the Lookbook Creation top section
    // -----------------------------------------------------------------------------------
    // The action buttons AND THE START OVER LINK
    .lookbook-actions {
        margin-bottom: 15px;
    }

    // The save draft link
    .save-draft {
        width: 100%;
        display: block;
        color: $brand-4;
        @include font-size( 10 );
        text-align: right;
        margin-top: 18px;

        &:before {
            content: ">";
            padding-right: 7px;
        }
    }

    // The pages carousel
    // Each page represent a single look inserted in the Lookbook
    .pages-container {
        width: 100%;
        height: 50px;
        text-align: center;
        padding: 0 16px;
        margin-bottom: 20px;
    }

    .pages-entry {
        width: 25px;
        height: 52px;
        @include inline-block;
        @extend %ft-sans;
        @include font-size( 9 );
        margin: 0 3px;
        vertical-align: top;
    }

    .icon-add-page {
        width: 25px;
        height: 29px;
    }

    .page-link {
        width: 21px;
        height: 51px;
        display: block;
        background-position: -30px 0;
        color: #000;
        text-align: center;
        padding-top: 34px;
        cursor: pointer;

        &:hover {
            background-position: -60px 0;
        }

        &.is-active,
        &.is-active:hover {
            background-position: 0 0;
        }
    }
}

// Because of the saved look section taking 100% of the width in this page,
// we need to set the overflow-x hidden on the body.
// Will need to use an alternative style for older browsers.
#create-lookbook {
    overflow-x: hidden;

    // Make sure the main container is tall enough
    // because of the absolute positioned carousel
    // taking a lot of space
    main {
        min-height: 900px;
    }

    // Jira Bug Fix #430 - The dropdown with the recipients is cut because
    // of the popup overflow hidden
    #cboxLoadedContent {
        overflow: visible !important;
    }
}

// Main area of the Lookbook Creation page
// Represent the buig box where looks can be dragged in order
// to fill the preview
.look-preview {
    position: relative;

    .preview {
        display: none;
        background-position: left 3px;
        color: $text-weak;
        @include font-size( 12 );
        padding-left: 24px;
        position: absolute;
        top: 7px;
        right: 45px;
        z-index: 4;
    }

    .btn-removePage {
        height: 24px;
        background-image:url(/images/icons/icon-trash-aqua.png);
        background-position: right top;
        display: none;
        @include font-size( 12 );
        @include line-height( 24 );
        position: absolute;
        padding-right: 36px;
        top: 18px;
        right: 48px;
        z-index: 4;

        &:before {
            content: ">";
            margin-right: 8px;
        }
    }

    .is-filled .btn-removePage,
    .is-filled .preview  {
        display: block;
    }

    .look-dropbox {
        width: 100%;
        height: 480px;
        background-color: #effafa;
        text-align: center;
        padding-top: 50px;
        border: dashed 1px #d6d5d5;
        position: relative;

        &.is-droppable {
            background-color: #fff;
            background-image: url(/images/icons/icon-cloud.png);
            background-position: center 90px;
            border: solid 2px $brand-6;
        }

        &.is-filled {
            min-height: 480px;
            height: auto;
            background-color: #fff;
            padding-top: 60px;
            padding-bottom: 48px;
            border: dashed 1px $brand-6;
        }

        .alpha {
            margin-bottom: 44px;
        }

        a {
            margin: 10px;
        }
    }

    // Specific style for the loading container in this page
    .loading-wrapper {
        line-height: 470px;
        z-index: 9;
    }

    // Navigation between different pages of the lookbook
    .lookbook-nav {
        width: 110%;
        position: absolute;
        top: 120px;
        left: -5%;
        z-index: 0;
    }

    .instructions {
        @include line-height( 24 );
    }

    .instructions h1 {
        margin-bottom: 10px;
    }

    .is-droppable .instructions {
        display: none;
    }

    // The darker section containing the sliding list of saved look
    // Each look is initialized with jQuery skimming plugin to see
    // the different products in them.
    .saved-looks {
        width: 3000px;
        height: 243px;
        background-color: #333;
        color: #fff;
        padding-top: 16px;
        margin-left: -1500px;
        position: fixed;
        left: 50%;
        bottom: 0;
        z-index: 9;

        @include box-shadow( rgba( 0, 0, 0, 0.3 ) 0 0 18px );
    }

    .saved-looks-header {
        height: 43px;
        text-align: center;
    }

    .toggle-saved-look {
        background-position: left 2px;
        @include inline-block;
        color: #fff;
        @include font-size( 10 );
        margin: 0 auto;
        padding-left: 23px;
    }

    .icon-viewLess {
        background-position: left -57px;
    }

    .txtbox-full {
        display: block;
        width: 90%;
        margin: 0 auto 18px;
    }

    .search-box {
        width: 240px;
        height: 26px;
        background-color: #333;
        background-position: 5px center;
        color: #fff;
        font-style: italic;
        padding-left: 31px;
        border: solid 1px #333;
        position: absolute;
        top: 10px;
        left: 0;

        &:hover,
        &:focus {
            border: solid 1px #767676;
        }
    }

    .display-opts {
        height: 9px;
        background-color: transparent;
        background-repeat: no-repeat;
        color: #999;
        @include line-height( 9 );
        text-transform: none;
        padding-left: 27px;
        border: 0;
        margin-left: 40px;
    }

    // Carousel containing the saved looks
    .saved-looks-container {
        width: 100%;
        height: 160px;
        position: relative;
    }

    .saved-looks-wrapper {
        width: 924px;
        height: 160px;
        overflow: hidden;
        margin-left: -462px;
        position: absolute;
        top: 0;
        left: 50%;
    }

    // Saved Looks navigation
    .carousel-nav {
        width: 110%;
        left: -5%;
    }

    .arrow-prev,
    .arrow-next {
        width: 17px;
        height: 17px;
        background-image: url(/images/icons/icon-navArrows-light.png);
        background-repeat: no-repeat;
    }

    .arrow-prev { background-position: 3px 0; }
    .arrow-next { background-position: -14px 0; }
}


// The Look list with the hatched blue overlay and the text
// centered horizontaly and verticaly
.saved-look-entry {
    width: 120px;
    height: 230px;
    float: left;
    margin: 0 6px;

    .look-display-form {
        height: 20px;
        position: relative;
    }

    &.ui-draggable-dragging {
        width: 120px;
        height: 160px;
        border: 0;
    }

    .input-select {
        width: 120px;
        height: 20px;
        background: none;
        background-image: none;
        background-color: rgb(102,102,102);
        @include filter-gradient(#666666, #3e3e3e, vertical);
        @include background-image(linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(62,62,62,1) 100%));
        @include font-size ( 12 );
        @include line-height( 18 );
        color: #fff;
        @extend %ft-sans;
        text-transform: uppercase;
        border: 0;
        border-top: solid 1px #a3a3a3;
        border-right: solid 1px #6f6f6f;
        border-bottom: solid 1px #666666;
        border-left: solid 1px #787878;
        @include border-radius( 2 );
    }
}

.saved-look.blue-overlay {
    height: 160px;
    display: table;
    @include hatched-blue;
    position: relative;
    cursor: pointer;
    margin: 0 0 18px 0;

    // On mouseover, hide the blue hatched background
    // and show the product image behind it.
    // Also, hide the th look title and date.
    &:hover {
        background-image: none;
        background-color: #fff;

        .product-image {
            @include opacity( 1 );
        }

        .look-description {
            display: none;
        }
    }

    .look-products {
        margin-left: 0;
    }

    .look-products,
    .product-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .look-description {
        width: 120px;
        height: 160px;
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        position: relative;
        z-index: 3;
    }

    .product-image {
        width: 120px;
        height: 160px;
        @include opacity( 0.08 );
    }
}


.lookbook-creation-bottom {
    .look-product-overview {
        display: block;
    }

    .aqua-stripes {
        width: 723px;
        min-height: 187px;
        padding: 19px 15px 19px 17px;
        margin-bottom: 38px;

        .delta {
            width: 220px;
            @include line-height( 24 );
        }
    }

    h4 {
        margin-bottom: 30px;
    }

    .lookbook-description {
        width: 346px;
        height: 156px;
    }

    // The table containing all the products of the
    // currently selected look.
    .look-product-overview {
        margin-bottom: 80px;
    }
}


// The dropdown list with the stylist's clients
// -----------------------------------------------------------------------------------
.lookbook-creation-popup {
    .dd-toggle {
        @include inline-block;
        background-image: url(/images/icons/icon-greyArrows.png);
        background-position: 114px 5px;
        @include font-size( 18 );
        color: $text-faint;
        font-weight: bold;
        padding-right: 20px;
    }

    .is-opened {
        background-position: 114px -88px;
    }

    .is-selected {
        color: #000;
    }

    .dd-list {
        width: 208px;
        padding: 8px;
    }

    .dd-list-link {
        height: 20px;
        overflow: hidden;
        display: block;
        color: #000;
        @extend %ft-sans;
        @include line-height( 20 );
        text-transform: uppercase;
        margin-bottom: 4px;

        &:hover {
            color: $brand-6;
        }

        img {
            margin-right: 8px;
        }
    }
}


// -----------------------------------------------------------------------------------
// LOOKBOOK > SAVED LOOKBOOKS
// -----------------------------------------------------------------------------------
.saved-lookbooks {
    width: 100%;
    @extend %ft-sans;

    th {
        color: $brand-6;
        @include font-size( 18 );
        font-weight: bold;
        text-align: left;
        padding-bottom: 16px;
        border: 0;
    }

    // Table Header
    .sl-th-status {
        text-align: right;
        padding-right: 34px;
    }

    .sl-th-date         { width: 108px; }
    .sl-th-recipient    { width: 174px; }
    .sl-th-title        { width: 470px; }

    td {
        padding-bottom: 6px;
    }

    .table-cell {
        float: left;
        overflow: hidden;
    }

    .sl-summary {
        height: 36px;
        overflow: hidden;
        padding: 8px 16px;
        border: solid 1px #ccc;
        @include border-radius( 3px );
        vertical-align: middle;
    }

    .sl-controls    { width: 105px; }
    .sl-status      { width: 77px; }
    .sl-date        { width: 108px; }
    .sl-recipient   { width: 174px; }
    .sl-title       { width: 430px; }
    .sl-toggle      { width: 24px; }

    // The three control buttons in the first column
    // Edit, Delete, Open
    .icon-controls {
        width: 16px;
        height: 16px;
        float: left;
        @include inline-block;
        @include line-height( 26 );
        margin-right: 10px;

        &.edit      { background-position: 0 0; }
        &.delete    { background-position: -27px 0; }
        &.open      { background-position: -53px 0; }
    }

    // Status column
    .sl-status {
        color: $brand-8;
        @include font-size( 14 );
        font-weight: bold;
    }

    // Date column
    .sl-date {
        @include font-size( 12 );
    }

    // Recipient column
    .sl-recipient {
        @include font-size( 18 );
    }

    // Title column
    .sl-title {
        @include font-size( 21 );
        font-weight: bold;
    }

    // Use a different color for the draft Lookbooks
    .is-draft {
        color: $text-faint;
        font-weight: normal;
    }

    // The grey arrows to toggle the lookbook summary
    .icon-greyArrows {
        width: 24px;
        height: 24px;
        background-image: url(/images/icons/icon-greyArrows.png);
        background-position: 0 4px;
        background-repeat: no-repeat;
    }

    .is-active .icon-greyArrows {
        background-position: -30px 4px;
    }

    .sl-looks {
        width: 918px;
        height: 166px;
        margin: 35px auto 0;
        position: relative;

        .look-date {
            display: none;
        }
    }

    // Wrapper containing the looks that will be in the carousel
    .lookbook-wrapper {
        width: 792px;
        height: 160px;
        overflow: hidden;
        margin-left: -396px;
        position: absolute;
        top: 0;
        left: 50%;
    }
}

