//************************************************************************************
// Home
//************************************************************************************

/* INTRO
-------------------------------------------------------------------------------------*/
[data-name="intro"] {
  height: auto;
  background-color: #d6f0f7;
  background-color: rgba(244,252,255,0.8);
  padding: 2em 80px;
  border: dashed 1px #697684;
  margin: 0 auto 4em;
  position: relative;
  @include box-shadow( 0 0 12px 0 rgba( 0, 0, 0, 0.20 ) );

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1em;
  }

  .list-step:before {
    width: 24px;
    height: 24px;
    float: left;
    background-color: #f6f7ef;
    color: $brand-4;
    @include font-size( 12 );
    @include line-height( 24 );
    text-align: center;
    border: solid 1px $brand-3;
    margin-right: 0.5em;
    @include border-radius( 50% );
  }

  .step-1:before { content: "1"; }
  .step-2:before { content: "2"; }
  .step-3:before { content: "3"; }
  .step-4:before { content: "4"; }
  .step-5:before { content: "5"; }
}
