<div class="hero-unit hidden">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>

<div class="content full">
  <section class="wrapper box-closable" data-name="intro">
      <header>
        <h2 class="beta">Intro</h2>
      </header>

      <p><span class="brand-1">ConsistencyPlease</span> is a web application that generates CSS for you basic styles</p>

      <p>While working in the agency world I quickly realized that most designers (even the best) are usually unorganized and inconsistent in their mockups. Sometimes it's plain laziness or because of a time constraint; it can also be a result of bad work practices (such as not using a grid system); sometimes however, it's just because they tend to get lost in their creative thoughts and forget. It can be frustrating for a pixel-perfect freak like me but I came to accept this. In the end it's a litte bit more job because everything has to be double-checked but it also forced me to start using a thorough modular CSS structure, which is really good.</p>

      <p>However I feel like some time could be saved by starting every projects with a solid, consistent CSS core. This is where this tool comes handy.</p>

      <p><span class="brand-1">ConsistencyPlease</span> allows anyone to generate CSS code with no knowledge whatsoever needed. You can then send the code (or file) to a front-end developer or use it yourself. Whether you need to replicate a mockup, want to test basic styles or simply seek inspiration, this application will jumpstart your project.</p>

      <p>How to use:</p>
      <ul>
          <li class="list-step step-1">Using the dashboard at the bottom fo the page, edit the default styles for the sections you want;
          <li class="list-step step-2">You can lock styles, add comments and visualize the code generated for a specfic element;
          <li class="list-step step-3">Once an element was edited, the modifications can be viewed in the (live) Preview section;
          <li class="list-step step-4">When everything looks good, Generate the base stylesheet template;
          <li class="list-step step-5">Copy/paste the generated CSS code or import the file in your project;
      </ul>

      <a class="close hide-text" data-js="close" href="#" title="Close the intro box">Close</a>
  </section>
</div>
